<div class="container">
  <div class="row">

    <div class="span5">
      <h1>Handicaps</h1>

      <% if @players.empty? %>
      No players exist yet.
      <% else %>
      <form action="/handicaps" method="get" class="form-inline">
        <label>I am:</label> <%= select_tag 'player', options_from_collection_for_select( @players, 'id', 'name', @player.id ) %>
        <button type="submit" class="btn btn-primary"><i class="icon-refresh icon-white"></i> Refresh</button>
      </form>

      <table class="table table-condensed table-striped">
        <thead>
          <tr>
            <th>Opponent</th>
            <th>Handicap</th>
          </tr>
        </thead>
        <% @opponents.each do |opponent| %>
        <tr>
          <td>
            <%= render 'players/league_icon', :player => opponent[:player] %>
            <%= link_to opponent[:player].name_with_code, player_path( opponent[:player] ) %>
          </td>
          <td>
            <% if opponent[:handicap] != 0 %>
            <%= content_tag :span do %>
            <%= opponent[:handicap] > 0 ? 'They play at ' : 'I play at ' %><%= 100 - opponent[:handicap].abs %>%
            <% end %>
            <% end %>
          </td>
        </tr>
        <% end %>

      <% end %>
      </table>
    </div>
  </div>
</div>
