<div class="container">
  <div class="row">

    <div class="span6">
      <h1>Who should I play?</h1>

      <% if @players.empty? %>
      No players exist yet.
      <% else %>
      <form action="/who-should-i-play" method="get" class="form-inline">
        <label>I am:</label> <%= select_tag 'player', options_from_collection_for_select( @players, 'id', 'name', @player.id ) %>
        <button type="submit" class="btn btn-primary"><i class="icon-refresh icon-white"></i> Refresh</button>
      </form>
      <table class="table table-condensed table-striped">
        <thead>
          <tr>
            <th>Opponent</th>
            <th>Chance to win</th>
            <th>Win points</th>
            <th>Loss points</th>
          </tr>
        </thead>
        <% @opponents.each do |opponent| %>
        <tr>
          <td>
            <%= render 'players/league_icon', :player => opponent[:player] %>
            <%= link_to opponent[:player].name_with_code, player_path( opponent[:player] ) %>
          </td>
          <td><%= opponent[:chance] %></td>
          <td><span class="positive">+<%= opponent[:win] %></span></td>
          <td><span class="negative"><%= opponent[:lose] %></span></td>
        </tr>
        <% end %>

      <% end %>
      </table>
    </div>
  </div>
</div>
