<%= form_for(@tournament) do |f| %>
  <% if @tournament.errors.any? %>
    <div class="alert alert-error alert-block">
      <h4>The tournament could not be started</h4>
      <ul>
      <% @tournament.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :name %>
    <div class="controls"><%= f.text_field :name %></div>
  </div>
  <div class="controls">
    <%= f.submit( 'Start tournament', :class => 'btn btn-primary' ) %>
  </div>
<% end %>
