<div class="container">
  <div class="row">
    <div class="span6">
      <h1>Tournaments<small class="pull-right"><%= link_to "Start new tournament", new_tournament_path, :class => "btn btn-primary" %></small></h1>

      <table class="table table-condensed table-striped">
        <thead>
          <th>Name</th>
          <th>Start Date</th>
          <th>Participants</th>
          <th>Winner</th>
        </thead>
        <% @tournaments.each do |tournament| %>
        <tr>
          <td><%= link_to tournament.name, tournament_path( tournament ) %></td>
          <td><%= tournament.start_date.getlocal.strftime( "%b %d %Y" ) %></td>
          <td><%= @participants[tournament.id].size %></td>
          <td>
            <% if !@winners.has_key? tournament.id %>
            --
            <% else %>
            <%= render 'players/league_icon', :player => @winners[tournament.id] %>
            <%= link_to( @winners[tournament.id].name, player_path( @winners[tournament.id] ) ) %>
            <% end %>
          </td>
        </tr>
        <% end %>
      </table>

    </div>
  </div>
</div>