<div id="player_div">
<%= link_to "Add player", new_player_path %>
<table id="player_table">
  <tr>
    <th>Rank</th>
    <th>Player</th>
    <th>Points</th>
    <th>Record</th>
  </tr>
  <% @players.each do |player| %>
    <tr>
      <td><%= player.rank %>
      <td><%= link_to player.name_with_code, player_path( player ) %></td>
      <td><%= player.points %></td>
      <td><%= player.games_won.size %>-<%= player.games_lost.size %></td>
    </tr>
  <% end %>
</table>
</div>

<div id="matches_div">
<%= link_to "Record match", new_match_path %>
<table id="matches_table">
  <tr>
    <th>Date</th>
    <th>Winner</th>
    <th>Loser</th>
    <th></th>
  </tr>
  <% @matches.each do |match| %>
    <tr>
      <td><%= match.time.to_time.getlocal.strftime( "%b %d %l:%M %p" ) %></td>
      <td>
      <%= match.winner.name %>
      <%= content_tag :span, :class => match.winner_points >= 0 ? "positive" : "negative" do %>
        (<%= match.winner_points >= 0 ? "+" : "" %><%= match.winner_points %>)
      <% end %>
      </td>
      <td>
      <%= match.loser.name %>
      <%= content_tag :span, :class => match.loser_points >= 0 ? "positive" : "negative" do %>
        (<%= match.loser_points >= 0 ? "+" : "" %><%= match.loser_points %>)
      <% end %>
      </td>
      <td><%= link_to 'delete', match, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>
</div>