<div class="container">
  <div class="row">

    <% if @tournament.nil? %>
    <div class="span6">
      No tournaments exist yet. <%= link_to 'Start a tournament', new_tournament_path %> and create some players to begin.
    </div>
    <% else %>

    <div class="span5">
      <h1>Standings</h1>
      <table class="table table-condensed table-striped">
        <thead>
          <tr>
            <th>Rank</th>
            <th>Player</th>
            <th>Points</th>
            <th>Record</th>
          </tr>
        </thead>
        <% @players.each do |player_id| %>
        <tr>
          <td><%= @ranks[player_id] %></td>
          <td>
            <%= image_tag( '/images/' + @leagues[player_id] + '.png' ) %>
            <%= link_to @names[player_id], '/players/' + player_id.to_s %>
          </td>
          <td><%= @points[player_id] %></td>
          <td><%= @wins[player_id].to_s + '-' + @losses[player_id].to_s %></td>
        </tr>
        <% end %>
      </table>
    </div>

    <div class="span7">
      <h1>Games<small class="pull-right"><%= link_to 'Record game', new_match_path, :class => 'btn btn-primary' %></small></h1>
      <table class="table table-condensed table-striped">
        <thead>
          <tr>
            <th>Date</th>
            <th>Winner</th>
            <th>Loser</th>
            <th>Action</th>
          </tr>
        </thead>
        <% @matches.each do |match| %>
        <tr>
          <td><%= link_to match.time.getlocal.strftime( "%b %d %l:%M %p" ), match_path( match ) %></td>
          <td>
            <%= image_tag( '/images/' + @leagues[match.winner_id] + '.png' ) %>
            <%= link_to @names[match.winner_id], '/players/' + match.winner_id.to_s %>
            (+<%= match.winner_points %>)
          </td>
          <td>
            <%= image_tag( '/images/' + @leagues[match.loser_id] + '.png' ) %>
            <%= link_to @names[match.loser_id], '/players/' + match.loser_id.to_s %>
            (<%= match.loser_points %>)
          </td>
          <td>
            <%= link_to "Delete", match_path( match ), :class => "btn btn-danger btn-mini confirm-delete", :method => :delete, "data-name" => @names[match.winner_id] + ' vs ' + @names[match.loser_id] %>
          </td>
        </tr>
        <% end %>
      </table>
    </div>
    
  <% end %>
  </div>
</div>

<div class="modal hide" id="confirm-modal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3 id="modal-title">Delete a vs b?</h3>
  </div>
  <div class="modal-footer">
    <button class="btn btn-danger" id="delete-button">Delete</button>
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
  </div>
</div>

<%= form_tag '#', :style => "display:none", :id => "delete-form" do %>
<input type="hidden" name="_method" value="delete" />
<% end %>

<script>
  $('.confirm-delete').click(function(e) {
    e.preventDefault();

    var href = $(this).attr('href');
    $('#modal-title').text('Delete ' + $(this).data('name') + '?');
    $('#confirm-modal').data( 'href', href ).modal('show');
  });

  $('#delete-button').click(function(e) {
    $('#confirm-modal').modal('hide');
    var url = $('#confirm-modal').data( 'href' );
    $('#delete-form').attr( 'action', url );
    $('#delete-form').submit();
  });
</script>