<div class="container">
  <div class="row">

    <% if @tournament.nil? %>
    <div class="span6">
      No tournaments exist yet. <%= link_to 'Start a tournament', new_tournament_path %> and create some players to begin.
    </div>
    <% else %>

    <div class="span5">
      <h1>Standings</h1>
      <table class="table table-condensed table-striped">
        <thead>
          <tr>
            <th>Rank</th>
            <th>Player</th>
            <th>Points</th>
            <th>Record</th>
          </tr>
        </thead>
        <% @players.each do |player_id| %>
        <tr>
          <td><%= @ranks[player_id] %></td>
          <td>
            <%= image_tag( '/images/' + @leagues[player_id] + '.png' ) %>
            <%= link_to @names[player_id], '/players/' + player_id.to_s %>
          </td>
          <td><%= @points[player_id] %></td>
          <td><%= @wins[player_id].to_s + '-' + @losses[player_id].to_s %></td>
        </tr>
        <% end %>
      </table>
    </div>

    <div class="span7">
      <h1>Games<small class="pull-right"><%= link_to 'Record game', new_match_path, :class => 'btn btn-primary' %></small></h1>
      <table class="table table-condensed table-striped">
        <thead>
          <tr>
            <th>Date</th>
            <th>Winner</th>
            <th>Loser</th>
            <th>Action</th>
          </tr>
        </thead>
        <% @matches.each do |match| %>
        <tr>
          <td><%= match.time.getlocal.strftime( "%b %d %l:%M %p" ) %></td>
          <td>
            <%= image_tag( '/images/' + @leagues[match.winner_id] + '.png' ) %>
            <%= link_to @names[match.winner_id], '/players/' + match.winner_id.to_s %>
            (+<%= match.winner_points %>)
          </td>
          <td>
            <%= image_tag( '/images/' + @leagues[match.loser_id] + '.png' ) %>
            <%= link_to @names[match.loser_id], '/players/' + match.loser_id.to_s %>
            (<%= match.loser_points %>)
          </td>
          <td>
            <%= link_to 'delete', 'matches/' + match.id.to_s, :confirm => 'Are you sure?', :class => 'btn btn-danger btn-mini', :method => :delete %>
          </td>
        </tr>
        <% end %>
      </table>
    </div>
    
  <% end %>
  </div>
</div>