<div id="player_div">
<%= link_to "Add player", '/add-existing-player' %>
<table id="player_table">
  <tr>
    <th>Rank</th>
    <th>Player</th>
    <th>Points</th>
    <th>Record</th>
  </tr>
  <% @players.each do |player| %>
    <tr>
      <td><%= player.rank %>
      <td><%= link_to player.name_with_code, player_path( player ) %></td>
      <td><%= player.points %></td>
      <td><%= player.record_this_season %></td>
    </tr>
  <% end %>
</table>
</div>

<div id="matches_div">
<%= link_to "Record match", new_match_path %>
|
<%= link_to "Who should I play", '/who-should-i-play' %>
<table id="matches_table">
  <tr>
    <th>Date</th>
    <th>Week</th>
    <th>Winner</th>
    <th>Loser</th>
    <th></th>
  </tr>
  <% @matches.each do |match| %>
    <tr>
      <td><%= match.time.getlocal.strftime( "%b %d %l:%M %p" ) %></td>
      <td><%= match.week_played %></td>
      <td>
      <%= match.winner.name %>
      <%= content_tag :span, :class => match.winner_points >= 0 ? "positive" : "negative" do %>
        (<%= match.winner_points >= 0 ? "+" : "" %><%= match.winner_points %>)
      <% end %>
      </td>
      <td>
      <%= match.loser.name %>
      <%= content_tag :span, :class => match.loser_points >= 0 ? "positive" : "negative" do %>
        (<%= match.loser_points >= 0 ? "+" : "" %><%= match.loser_points %>)
      <% end %>
      </td>
      <td><%= link_to 'delete', match, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>
</div>

<div id="maps_div">
  <%= link_to "Set maps", maps_path %>
  <table id="maps_table">
    <tr>
      <th>Map Pool</th>
    </tr>
    <% @maps.each do |map| %>
      <tr><td>&bull; <%= map.name %></td></tr>
    <% end %>
  </table>
</div>