<div class="container">
  <div class="row">

    <div class="span4">
      <h1>Standings</h1>
        <table class="table table-condensed table-striped">
          <thead>
            <tr>
              <th>Rank</th>
              <th>Player</th>
              <th>Points</th>
              <th>Record</th>
            </tr>
          </thead>
          <% @players.each do |player| %>
          <tr>
            <td><%= player.rank %></td>
            <td>
              <%= render 'players/league_icon', :player => player %>
            <%= link_to player.name_with_code, player_path( player ) %>
          </td>
            <td><%= player.points %></td>
            <td><%= player.record_this_season %></td>
          </tr>
          <% end %>
        </table>
    </div>

    <div class="span6">
      <h1>Games<small class="pull-right"><a href="#" class="btn btn-primary">Record Match</a></small></h1>
      <table class="table table-condensed table-striped">
        <thead>
          <tr>
            <th>Date</th>
            <th>Winner</th>
            <th>Loser</th>
            <th>Action</th>
          </tr>
        </thead>
        <% @matches.each do |match| %>
        <tr>
          <td><%= match.time.getlocal.strftime( "%b %d %l:%M %p" ) %></td>
          <td>
            <%= render 'players/league_icon', :player => match.winner %>
            <%= link_to match.winner.name, player_path( match.winner ) %>
            <%= content_tag :span, :class => match.winner_points >= 0 ? "positive" : "negative" do %>
            (<%= match.winner_points >= 0 ? "+" : "" %><%= match.winner_points %>)
            <% end %>
          </td>
          <td>
            <%= render 'players/league_icon', :player => match.loser %>
            <%= link_to match.loser.name, player_path( match.loser ) %>
            <%= content_tag :span, :class => match.loser_points >= 0 ? "positive" : "negative" do %>
            (<%= match.loser_points >= 0 ? "+" : "" %><%= match.loser_points %>)
            <% end %>
          </td>
          <td><%= link_to 'delete', match, :confirm => 'Are you sure?', :class => 'btn btn-danger btn-mini', :method => :delete %></td>
        </tr>
        <% end %>
      </table>
    </div>

  </div>
</div>