<div class="container">
  <div class="row">
    <div class="span5">

      <h1>Players<small class="pull-right"><%= link_to "New player", new_player_path, :class => "btn btn-primary" %></small></h1>

      <table class="table table-condensed table-striped">
        <thead>
          <th>Name</th>
          <th>Character Code</th>
          <th>Games Played</th>
        </thead>
        <% @players.each do |player| %>
        <tr>
          <td>
            <%= render 'league_icon', :player => player %>
            <%= link_to player.name, player_path( player ) %>
          </td>
          <td><%= player.character_code || '--' %></td>
          <td><%= @games_played[player.id] %></td>
        </tr>
        <% end %>
      </table>

    </div>
  </div>
</div>