<div class="float_left info_div">
  <div class="inner_div">
    <h2 class="form_title">New player</h2>
    <h3 class="form_subtitle">Add a new player to the tournament</h3>
    <%= render 'form' %>
  </div>
</div>

<div class="float_left info_div">
  <div class="inner_div">
    <h2 class="form_title">Existing player</h2>
    <h3 class="form_subtitle">Add an inactive player to the tournment</h3>
    <%= form_tag( '/players/restore' ) do %>
      <div class="attr">
        <div class="attr_name">Player</div><%= select_tag 'player', options_from_collection_for_select( @inactive_players, 'id', 'name' ) %>
      </div>
      <div class="field attr">
        <div class="attr_name">Starting points</div>
        <%= text_field_tag 'points', @starting_points %>
      </div>
      <%= submit_tag "Add player", :class => 'button blue_button attr_save' %>
    <% end %>
  </div>
</div>
