<p id="notice"><%= notice %></p>

<div class="float_left">
  <div class="info_div">
    <div class="inner_div">
      <div class="attr"><div class="attr_name">Name</div><div class="attr_value"><%= @player.name %></div></div>
      <div class="attr"><div class="attr_name">Character code</div><div class="attr_value"><%= @player.character_code %></div></div>
      <div class="attr"><div class="attr_name">League</div><div class="attr_value"><%= render 'league_icon' %></div></div>
      <div class="attr"><div class="attr_name">Points</div><div class="attr_value"><%= @player.points %></div></div>
      <div class="attr"><div class="attr_name">This season</div><div class="attr_value"><%= @player.record_this_season %></div></div>
      <div class="attr"><div class="attr_name">All time</div><div class="attr_value"><%= @player.record_all_time %></div></div>

      <table class="result_table attr">
        <th>Tournament</th>
        <th>Week</th>
        <th>Opponent</th>
        <th>Result</th>

        <% @matches.each do |match| %>
        <tr>
          <td><%= match[:tournament] %></td>
          <td><%= match[:week] %></td>
          <td><%= link_to match[:opponent].name, player_path( match[:opponent] ) %></td>
          <td>
            <%= match[:win] ? 'Win' : 'Loss' %>
            <%= content_tag :span, :class => match[:points] >= 0 ? "positive" : "negative" do %>
            (<%= match[:points] >= 0 ? "+" : "" %><%= match[:points] %>)
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>

<%= link_to "Edit " + @player.name, edit_player_path( @player ), :class => "button gray_button" %>