<div class="container">
  <div class="row">

    <div class="span4">

      <h1>
        <%= @player.name %>
        <small class="pull-right"><%= link_to "Edit", edit_player_path( @player ), :class => "btn" %></small>
      </h1>

      <div class="well well-small">
        <dl class="dl-horizontal">
          <dt>Character code</dt><dd><%= @player.character_code || '--' %></dd>
          <dt>League</dt><dd><%= render 'league_icon', :player => @player %></dd>
          <dt>Points</dt><dd><%= @player.points %></dd>
          <dt>Record this season</dt><dd><%= @player.record_this_season %></dd>
          <dt>Record All time</dt><dd><%= @player.record_all_time %></dd>
        </dl>
      </div>

    </div>
  </div>
  <div class="row">
    <div class="span6">

      <h4>Match History</h4>
      
      <table class="table table-condensed table-striped">
        <thead>
          <tr>
            <th>Tournament</th>
            <th>Date</th>
            <th>Opponent</th>
            <th>Result</th>
          </tr>
        </thead>
        <% @matches.each do |match| %>
        <tr>
          <td><%= link_to match[:tournament].name, tournament_path( match[:tournament] ) %></td>
          <td><%= match[:time].getlocal.strftime( "%b %d %l:%M %p" ) %></td>
          <td>
            <%= render 'league_icon', :player => match[:opponent] %>
            <%= link_to match[:opponent].name, player_path( match[:opponent] ) %>
          </td>
          <td>
            <%= match[:win] ? 'Win' : 'Loss' %>
            <%= content_tag :span, :class => match[:points] >= 0 ? "positive" : "negative" do %>
            (<%= match[:points] >= 0 ? "+" : "" %><%= match[:points] %>)
            <% end %>
          </td>
        </tr>
        <% end %>
      </table>

    </div>
  </div>
</div>
