<p id="notice"><%= notice %></p>

<p><b>Name:</b> <%= @player.name %></p>
<p><b>Character code:</b> <%= @player.character_code %></p>
<p><b>Points:</b> <%= @player.points %></p>
<p><b>Record:</b> <%= @player.games_won.size %>-<%= @player.games_lost.size %></p>

<p><b>Match History:</b>
<table id="matches_table">
  <th>Date</th>
  <th>Week</th>
  <th>Opponent</th>
  <th>Result</th>

  <% @matches.each do |match| %>
  <tr>
    <td><%= match[:time].to_time.getlocal.strftime( "%b %d %l:%M %p" ) %></td>
    <td><%= match[:week] %></td>
    <td><%= match[:opponent].name %></td>
    <td>
        <%= match[:win] ? 'Win' : 'Loss' %>
      <%= content_tag :span, :class => match[:points] >= 0 ? "positive" : "negative" do %>
        (<%= match[:points] >= 0 ? "+" : "" %><%= match[:points] %>)
      <% end %>
    </td>
  </tr>
  <% end %>
</table>
</p>

<%= link_to 'Back', '/' %>
|
<%= link_to 'Edit ' + @player.name, edit_player_path(@player) %>