<%= form_for( @match, :html => { :class => 'form-inline' } ) do |f| %>
  <% if @match.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@match.errors.count, "error") %> prohibited this match from being saved:</h2>

      <ul>
      <% @match.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <label class="control-label">Winner</label>
    <div class="controls"><%= collection_select :match, :winner_id, @players, :id, :name %></div>
  </div>
  <div class="control-group">
    <label class="control-label">Loser</label>
    <div class="controls"><%= collection_select :match, :loser_id, @players, :id, :name %></div>
  </div>

  <div class="actions short_attr_save">
    <%= f.submit "Submit", :class => "btn btn-primary" %>
  </div>
<% end %>
