<%= form_for(@match) do |f| %>
  <% if @match.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@match.errors.count, "error") %> prohibited this match from being saved:</h2>

      <ul>
      <% @match.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="attr">
    <div class="float_left" style="text-align:right; width: 50px"><b>Winner</b></div><%= collection_select :match, :winner_id, @players, :id, :name %>
  </div>
  <div class="attr">
    <div class="float_left" style="text-align:right; width: 50px"><b>Loser</b></div><%= collection_select :match, :loser_id, @players, :id, :name %>
  </div>
  <div class="actions" style="float:right;">
    <%= f.submit "Submit", :class => "button blue_button" %>
  </div>
<% end %>
