<%= form_for( @match ) do |f| %>
  <% if @match.errors.any? %>
    <div class="alert alert-error alert-block">
      <h4>The match could not be saved</h4>
      <ul>
      <% @match.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <label class="control-label" for="match_winner_id">Winner</label>
    <div class="controls"><%= collection_select :match, :winner_id, @players, :id, :name %></div>
  </div>
  <div class="control-group">
    <label class="control-label" for="match_loser_id">Loser</label>
    <div class="controls"><%= collection_select :match, :loser_id, @players, :id, :name %></div>
  </div>

  <div class="controls">
    <%= f.submit "Submit", :class => "btn btn-primary" %>
  </div>
<% end %>
