<div class="container">
  <div class="row">
    <div class="span6">
      <h1>Record game</h1>

      <% if @match.errors.any? || flash[:alert] %>
      <div class="alert alert-error alert-block">
        <h4>The match could not be saved</h4>
        <ul>
          <% if flash[:alert] %>
          <li><%= flash[:alert] %></li>
          <% end %>
          <% @match.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
      <% end %>

      <%= form_tag({:action => :upload}, :multipart => true, :class => "form-inline" ) do %>

      <div class="control-group">
        <label class="control-label" for="replay_file">Upload replay file</label>
        <div class="controls">
          <%= file_field_tag 'replay_file', :style => "display:none" %>
          <div class="input-append">
            <input id="replay_file_name" type="text" class="fake_file" name="replay_file_name" readonly>
            <a id="replay_file_button" onclick="$('#replay_file').click();" class="btn">Choose...</a>
          </div>
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <%= submit_tag "Submit", :class => "btn btn-primary" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
  $('#replay_file').change( function() {
    var name = $(this).val().split( /[\\/]/ ).pop()
    $('#replay_file_name').val( name );
  });
</script>