<div class="container">
  <div class="row">
    <div class="span6">
      <h1>Record game</h1>

      <% if @match.errors.any? || flash[:alert] %>
      <div class="alert alert-error alert-block">
        <h4>The match could not be saved</h4>
        <ul>
          <% if flash[:alert] %>
          <li><%= flash[:alert] %></li>
          <% end %>
          <% @match.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
      <% end %>

      <%= form_tag({:action => :upload}, :multipart => true, :class => "form-inline" ) do %>
      <div class="control-group">
        <label class="control-label" for="replay_file">Upload replay file</label>
        <div class="controls">
          <%= file_field_tag 'replay_file' %>
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <%= submit_tag "Submit", :class => "btn btn-primary" %>
        </div>
      </div>
      <% end %>

      <div style="position:absolute; bottom:0;" class="well">
        <h4>Common Replay Locations</h4>
        <dl>
          <dt>On Windows XP</dt><dd>C:\Documents and Settings\[You]\My Documents\StarCraft II\Accounts\[Number]\[Number]\Replays</dd>
          <dt>On Windows 7</dt><dd>C:\Users\[You]\Documents\StarCraft II\Accounts\[Number]\[Number]\Replays</dd>
          <dt>On OS X</dt><dd>/Users/[You]/Library/Application Support/Blizzard/StarCraft II/Accounts/[Account]/[Profile]/Replays</dd>
        </ul>
      </div>

    </div>
  </div>
</div>
