<div class="container">
  <div class="row" style="margin-top: 1em;">
    <div class="span12">
      <% if !@map.nil? %>
      <div class="match_map">
        <%= image_tag( '/images/maps/' + @map + '.jpg', :class => "thumbnail" ) %>
      </div>
      <% end %>
      <div class="match_info">
        <dl>
          <dt>Winner</dt>
          <dd>
            <%= link_to @match.winner.name, player_path( @match.winner ) %>
            <% if !@replay_info.nil? %>
            <%= image_tag( '/images/' + @replay_info["winner_race"].downcase + '_small.png' ) %>
            <% end %>
          </dd>
          <dt>Loser</dt>
          <dd>
            <%= link_to @match.loser.name, player_path( @match.loser ) %>
            <% if !@replay_info.nil? %>
            <%= image_tag( '/images/' + @replay_info["loser_race"].downcase + '_small.png' ) %>
            <% end %>
          </dd>
          <% if !@replay_info.nil? %>
          <dt>Map</dt>
          <dd><%= @replay_info["map"] %></dd>
          <dt>Length</dt>
          <dd><%= @replay_info["length"] %></dd>
          <% end %>
          <dt>Date</dt>
          <dd><%= @match.time.getlocal.strftime( "%b %d %l:%M %p" )%></dd>
        </dl>
        <% if !@match.replay_file.nil? %>
        <%= link_to( '/replays/' + @match.replay_file, :title => 'Download Replay', :class => "btn btn-success" ) do %>
        <i class="icon-arrow-down icon-white"></i> Download Replay
        <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>