<!DOCTYPE html>
<html lang="en">
  <head>
    <title>IBM Starcraft II</title>
    <%= stylesheet_link_tag '/bootstrap/css/bootstrap.min.css' %>
    <%= stylesheet_link_tag '/bootstrap/css/bootstrap-responsive.min.css' %>
    <%= stylesheet_link_tag 'ibmsc2.css' %>
    <%= javascript_include_tag '/javascripts/jquery-1.8.1.min.js' %>
    <%= javascript_include_tag '/bootstrap/js/bootstrap.min.js' %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div class="navbar navbar-static-top">
      <div class="navbar-inner ">
        <div class="container">
          <a class="brand" href="/">IBM Starcraft II</a>
          <ul class="nav">
            <%= content_tag :li, :class => ( 'active' if current_page?( :controller => 'results' ) ) do %>
              <a href="/">Standings</a>
            <% end %>
            <%= content_tag :li, :class => ( 'active' if current_page?( :controller => 'players', :action => 'index' ) ) do %>
              <a href="/players">Players</a>
            <% end %>
            <%= content_tag :li, :class => ( 'active' if current_page?( :controller => 'tournaments', :action => 'index' ) ) do %>
              <a href="/tournaments">Tournaments</a>
            <% end %>
            <%= content_tag :li, :class => ( 'active' if current_page?( :controller => 'who_to_play' ) ) do %>
              <a href="/handicaps">Handicaps</a>
            <% end %>
            <%= content_tag :li, :class => ( 'active' if current_page?( :controller => 'static', :action => 'random' ) ) do %>
              <a href="/random">Random Map</a>
            <% end %>
            <%= content_tag :li, :class => ( 'active' if current_page?( :controller => 'static', :action => 'about' ) ) do %>
              <a href="/about">About</a>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
